{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
.zoom {
    padding: 3px;
    background-color: #dddddd;
    transition: transform .2s; /* Animation */
    width: 166px;
    height: 126px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: yellow;
}
</style>

  <h4>Secuencia: <em>{{ fotos[0].secuencia }}</em></h4>
    <table>    
    <tr>
    {% for foto in fotos %}

        <td><div class="zoom"> <!-- <a href="/static/{{ foto.web_path }}"> -->
	    <img src="/static/{{ foto.web_path }}" alt="{{ foto.secuencia }}" height="{{ h }}" width="{{ w }}"
	         id="{{ foto.id }}" data-toggle="modal" data-target="#myModal"> <!-- </a> --> </div></td>

	{% if loop.index % 6 == 0 %}
	    </tr>
	    <tr>
	{% endif %}

    {% endfor %}
    </tr>
    </table>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="showimage img-responsive" src="" />
            </div>

	    <form class="form" role="form" method="post" action="">

	    {{ form.csrf_token }}
	    {{ form.hidden_tag() }}
	    {{ wtf.form_errors(form, hiddens="only") }}

	    <div class="col-lg-6 col-sm-6">
	    
	    {{ wtf.form_field(form.patente) }}
	    {{ wtf.form_field(form.acta_template) }}

    	    <br><br>
	    <!-- <p>Already have an account? <a href="{{ url_for('user.login') }}">Sign in</a>.</p> -->

	    </div>
	    </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
$(document).ready(function () {
    $('img').on('click', function () {
        var image = $(this).attr('src');
        //alert(image);
        $('#myModal').on('show.bs.modal', function () {
            $(".showimage").attr("src", image);
        });
    });
});
</script>

{% endblock %}